#page-wrap{
	max-width: 920px;
	max-height: 1200px;
}

#header{
	width:900px;
	height:200px;
	background-color: blue;
	border:10px solid black;
	}

.sidebar{
	width:200px;
	height:780px;
	background-color: red;
	border-left:10px solid black;
	border-right:10px solid black;
	float:left;

}

#main-story{
	width:480px;
	height:780px;
	background-color:yellow;
	float:left;
}
#footer{
	width:900px;
	height:200px;
	background-color: green;
	float:left;
	border:10px solid black;
}
.small-box{
	width:125px;
	height:125px;
	margin-top:96px;
	margin-bottom:106px;
	margin-left:37.5px;
	background-color:orange;

}
.long-box{
	width:125px;
	height:600px;
	background-color: orange;
	margin-top:101px;
	margin-left: 37.5px;
}
